
@media screen and (max-width:600px){
    .maincontainer{
        width: 100%;
    }
    
} 
    a{
        color:#2da7d5 ;
    }
    body {
        background-color: whitesmoke;
        font-family: "Stylish", serif;
        font-weight: 400;
        font-style: normal;
    }

    .maincontainer {
        position: relative;
        display: flex;
        gap: 0px;
        max-height: 400px;
        margin: 100px 0 auto;
        justify-content: center;
    }

    .leftcontainer {
        position: relative;
        z-index: 2;
        left: 10px;
        text-align: center;
        background-color: #2da7d5;
        color: white;
        border: 1px solid fff;
        border-radius: 20px;
        padding: 0px;
        width: 230px;
        height: 350px;
        box-shadow: 0 0 5px rgba(21, 21, 21, 0.8);
        clip-path: inset(-5px 0px -5px -5px);
    }

    .container {
        display: flex;
        left: 20px;
        gap: 0px;
        width: 400px;
        max-height: 350px;
        margin-top: 8px;
        margin-bottom: 8px;
        border: 1px solid fff;
        box-shadow: 0 0 5px rgba(21, 21, 21, 0.8);
        border-radius: 20px;
        border-left: 0px;
        background-color: white;
    }

    .day {
        font-size: 30px;
        margin-bottom: 0px;
    }

    .date {
        margin-top: 2px;
        margin-bottom: 0px;
        font-size: 20px;
    }

    img {
        display: block;
        margin: 0 auto;
        margin-bottom: 0px;
        max-width: 200px;
        margin-top: 0px;
        width: 200px;
        height: 180px;
        padding: 0px;
    }
 .description {
     margin-top: 0px;
     padding: 3px;
     font-size: 20px;
     margin-bottom: 0px;
 }
    .temp {
        font-size: 30px;
        font-weight: 600;
    }
.tempicon{
    position: relative;
    display: flex;
    border: 1px solid #3f8ccf;
        border-radius: 20px;
        background-color: #3f8ccf;
        justify-content: center;
        margin: 0px 30px 30px 30px;
    
}
    form {
        position: relative;
        max-width: 300px;
    }

    .search-form-input {
        background-color: aliceblue;
        border: none;
        width: 280px;
        margin-top: 20px;
        border-radius: 6px;
        border-bottom: #3f8ccf;
        margin-left: 20px;
        padding: 10px 6px 10px 10px;
        font-size: 16px;
    }

    .search-form-button {
        position: absolute;
        padding: 10px 20px 10px 20px;
        border: 1px solid #3f8ccf;
        background-color: #3f8ccf;
        color: white;
        margin-top: 20px;
        margin-left: 6px;
        border-radius: 10px;
    }

    .Holders {
        margin-top: 60px;
        margin-right: 0px;
        position: absolute;
        justify-content: center;
    }

    .values {
        justify-content: center;
        margin-top: 60px;
        position: absolute;
        margin-left: 270px;
    }

    ul {
        list-style: none;
        line-height: 50px;
    }
    footer{
        position: relative;
        right: 280px;
        max-width:95%;
        max-height: 400px;
        text-align: center;
        margin-top:auto;
        padding: 40px 0px 0px 0px;
        color: rgb(0,0,0,0.3);
        flex: none;

        
        

    }